# Folders
# **/.vscode/**
**/build/**
**/include/**
**/matplotlib**/**
!*/include/*.h
!**/include/*.cpp

# Make files
*.cmake

# Environment files
*.env

# Drawio
requests_flow.drawio
weather_diagram.drawio

# Personal configuration

# Log files

# Text files (Usually assignments)
*.txt
!CMakeLists.txt
input.txt_copy
input.txt_encr
input.txt_upper

# Executable
**.exe

# Other
*.zip